body {
  background: radial-gradient(circle at 4.4% 9.8%, rgb(97, 187, 182) 0%, rgb(161, 223, 255) 77.9%);
  color: #4a3b85;
   
}

a {
  color: #0c9cee;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App .App-header {
  
  
  margin: 30px 0;
}

.App .App-logo {
  background: #fefdff;
  border: 1px solid #f0fff0;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  max-width: 200px;
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
}

.App .App-footer {
  background: #f0fff0;
  border: 1px solid #f0fff0;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  color: #4a3b85;
  font-size: 15px;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 35px 0;
  padding: 13px 0;

}

.App .App-footer a {
  color: #4a3b85;

  font-weight: bold;
  text-decoration: none;
}

.App .App-footer a:hover {
  color: #591fce;
}

