.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #0c9cee;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #0c9cee;
  color: #fff;
}

.Phonetic .text {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 16px;
  opacity: 0.5;
}

.Phonetic .audio {
  background: radial-gradient(circle at 4.4% 9.8%, rgb(97, 187, 182) 12%, rgb(161, 223, 255) 57.9%);
  border-radius: 25px;
  height: 44px;
  
  margin-right: 20px;
  padding: 3px;
}

