.Synonyms {
  margin: 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  font-size: 14px;
  padding-right: 15px;
  line-height: 1;
  margin-bottom:15px;
  transition: all 200ms ease-in-out;
}

.Synonyms li:hover {
  color: #8400c6;
}

.Synonyms small {
  font-weight: bold;
}
